# Introduction

Info: We have learned what the statement and keyword are. Here is another term which we introduced to you in this lesson: Clause. We want to define each three terms to help you gain better understanding. We will use query SELECT first_name, last_name, gender FROM employees; as an example to explain the concepts.
**Keyword: These are the individual elements which are predefined.** In the example these are **SELECT and FROM** seperately.
**Clause: It's a part of a SQL statement. In our example, these ere SELECT first name, last name, gender and FROM employees.**
**Statement: The complete query** is a statement. A statement **may consist of two or more clauses.**

The SELECT DISTINCT is **used to return only distinct (different/unique) values to eliminate duplicate rows** in a result set.

Q: What are some **common clauses used with SELECT query** in SQL?
A: **WHERE** clause, **ORDER BY** clause, **GROUP BY** clause and **HAVING** clause

# No Duplicated Rows

**SELECT DISTINCT student FROM student_table;

**if there are no duplicated rows in a column, SELECT and SELECT DISTINCTgives the same result.

# Check Yourself-3

In [ ]:
Practice Question

student table
student_info table
Please write a query for selecting the unique values of "first_name" column in the "student_info" table.

Answer:(penalty regime: 0, 10, 20, ... %)

Feedback
Test	Expected	Got	
-- Hi C9155 -, I'm testing your code with the original database.
first_name
----------
Michael
Olivia
Amelia
Megan
Richard
Hugo
Eleanor
Oliver
Lucas
Robert
Bill
Joseph
Jack
Elon
Eric
Gabriel
Harry
David
Chloe
Isla
George
Arthur
Daniel
Matilda
Jason
first_name
----------
Michael
Olivia
Amelia
Megan
Richard
Hugo
Eleanor
Oliver
Lucas
Robert
Bill
Joseph
Jack
Elon
Eric
Gabriel
Harry
David
Chloe
Isla
George
Arthur
Daniel
Matilda
Jason
Passed all tests!  

Question author's solution:
SELECT DISTINCT first_name FROM student_info;
Correct
Marks for this submission: 2.00/2.00.
Question 2
Correct
Mark 2.00 out of 2.00
Not flaggedFlag question
Question text
Practice Question

student table
student_info table
Please write a query for selecting the unique values of the "last_name" column in the "student_info" table.

Answer:(penalty regime: 0, 10, 20, ... %)

Feedback
Test	Expected	Got	
-- Hi C9155 -, I'm testing your code with the original database.
last_name
----------
Crawford
Smith
Anderson
King
Morgan
Wallace
Johnson
Taylor
Parker
Cox
Tucker
Brown
Lee
Rogers
Powell
Freeman
Young
Collins
Rivera
Thompson
Fisher
Martinez
Wright
Bennett
Thomas
Green
Cooper
Walker
Morris
Sanders
last_name
----------
Crawford
Smith
Anderson
King
Morgan
Wallace
Johnson
Taylor
Parker
Cox
Tucker
Brown
Lee
Rogers
Powell
Freeman
Young
Collins
Rivera
Thompson
Fisher
Martinez
Wright
Bennett
Thomas
Green
Cooper
Walker
Morris
Sanders
Passed all tests!  

Question author's solution:
SELECT DISTINCT last_name FROM student_info;
Correct
Marks for this submission: 2.00/2.00.
Question 3
Correct
Mark 2.00 out of 2.00
Not flaggedFlag question
Question text
Practice Question

student table
student_info table
Please write a query for selecting the unique values of "state_name" column in the "student_info" table.

Answer:(penalty regime: 0, 10, 20, ... %)

Feedback
Test	Expected	Got	
-- Hi C9155 -, I'm testing your code with the original database.
state_name
----------
Virginia
West Virgi
state_name
----------
Virginia
West Virgi
Passed all tests!  

Question author's solution:
SELECT DISTINCT state_name FROM student_info;
Correct
Marks for this submission: 2.00/2.00.
Question 4
Correct
Mark 2.00 out of 2.00
Not flaggedFlag question
Question text
Practice Question

student table
student_info table
Please write a query for selecting the unique values of both "state_name" and "county_name" columns in the "student_info" table.

Answer:(penalty regime: 0, 10, 20, ... %)

Feedback
Test	Expected	Got	
-- Hi C9155 -, I'm testing your code with the original database.
state_name  county_name
----------  -----------
Virginia    Albemarle
West Virgi  Tucker
West Virgi  Webster
West Virgi  Kanawha
Virginia    Prince Will
Virginia    Accomack
West Virgi  Wyoming
West Virgi  Hancock
West Virgi  Wayne
Virginia    Halifax
West Virgi  Mingo
Virginia    Fairfax
Virginia    Loudoun
West Virgi  Monongalia
West Virgi  Logan
Virginia    Henrico
West Virgi  Preston
West Virgi  Pocahontas
Virginia    Shenandoah
West Virgi  Harrison
Virginia    Bedford
West Virgi  Wood
West Virgi  Wetzel
Virginia    Montgomery
state_name  county_name
----------  -----------
Virginia    Albemarle
West Virgi  Tucker
West Virgi  Webster
West Virgi  Kanawha
Virginia    Prince Will
Virginia    Accomack
West Virgi  Wyoming
West Virgi  Hancock
West Virgi  Wayne
Virginia    Halifax
West Virgi  Mingo
Virginia    Fairfax
Virginia    Loudoun
West Virgi  Monongalia
West Virgi  Logan
Virginia    Henrico
West Virgi  Preston
West Virgi  Pocahontas
Virginia    Shenandoah
West Virgi  Harrison
Virginia    Bedford
West Virgi  Wood
West Virgi  Wetzel
Virginia    Montgomery
Passed all tests!  

Question author's solution:
SELECT DISTINCT state_name, county_name FROM student_info;
Correct
Marks for this submission: 2.00/2.00.
Question 5
Correct
Mark 2.00 out of 2.00
Not flaggedFlag question
Question text
Practice Question

student table
student_info table
Please write a query for selecting the unique values of both "field" and "start_date" columns in the "student_info" table.

Answer:(penalty regime: 0, 10, 20, ... %)

Feedback
Test	Expected	Got	
-- Hi C9155 -, I'm testing your code with the original database.
field       start_date
----------  ----------
DevOps      19.07.2019
Back-End    11.03.2019
Data Analy  25.04.2019
Back-End    7.06.2019
DevOps      28.06.2019
Data Analy  16.06.2019
Front-End   22.03.2019
Data Analy  14.04.2019
Data Scien  19.05.2019
Quality As  2.04.2019
Quality As  8.05.2019
Back-End    21.06.2019
Quality As  19.07.2019
Data Analy  9.04.2019
Data Analy  14.06.2019
Front-End   21.06.2019
Quality As  6.05.2019
Back-End    18.07.2019
Front-End   7.05.2019
DevOps      14.06.2019
Front-End   28.06.2019
field       start_date
----------  ----------
DevOps      19.07.2019
Back-End    11.03.2019
Data Analy  25.04.2019
Back-End    7.06.2019
DevOps      28.06.2019
Data Analy  16.06.2019
Front-End   22.03.2019
Data Analy  14.04.2019
Data Scien  19.05.2019
Quality As  2.04.2019
Quality As  8.05.2019
Back-End    21.06.2019
Quality As  19.07.2019
Data Analy  9.04.2019
Data Analy  14.06.2019
Front-End   21.06.2019
Quality As  6.05.2019
Back-End    18.07.2019
Front-End   7.05.2019
DevOps      14.06.2019
Front-End   28.06.2019
Passed all tests!  

Question author's solution:
SELECT DISTINCT field, start_date FROM student_info;
Correct
Marks for this submission: 2.00/2.00.